body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-panel {
  padding: 10px;
}

.selection-container {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
}

.selection-item {
  flex: none;
  margin: 10px;
  padding: 0;
}

.flex {
  flex: 1;
  min-width: 480px;
  max-width: 480px;
}
